<!DOCTYPE html>
<html>
<head>

  <!-- Meta Data -->
    <meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.meta-description}}">
    <meta name="keywords" content="{{page.meta-keywords}}">

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <!-- end of meta tags -->

  <!-- link to browser icon tag -->
  <link rel="shortcut icon" type="image/png" href="images/social-media-retreat.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,500,700,900&display=swap" rel="stylesheet"></link>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>

    <!-- Font Awesome Version 5 for Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

<!-- fancyboc gallery -->
     <link rel="stylesheet" href="/css/jquery.fancybox.min.css"/>


     <!-- our own custom stylesheet -->
     <link rel="stylesheet" href="/style.css"/>

</head>

  <body>
		<!-- <header id="top">
			<h1>
				<a href="/" class="cc-active"><img src="https://d1qmdf3vop2l07.cloudfront.net/lawful-needle.cloudvent.net/hash-store/6a4cb9f796bf2c3110f35c80f2fdbeb9.svg" width="40" height="40" alt="IOC Pre-Coursework logo" data-cms-original-src="/images/emblem.svg"></a>


				Pre-Coursework

				<button type="button" class="open-nav" id="open-nav"></button>
			</h1>

			<form action="/search/" method="get">
				<input type="text" name="q" id="search-input" placeholder="Search" autofocus="">
				<input type="submit" value="Search" style="display: none;">
			</form>

			<nav class="full-navigation">
				<ul>
					<li class="nav-item top-level ">

						<a href="/" class="cc-active">Welcome to IOC</a>
					</li>
				</ul>

				<ul>



						<li class="nav-item top-level current">

							<a href="/a-Intro-to-Coding/1.setup/">Intro to Coding</a>
							<ul>

									<li class="nav-item current"><a href="/a-Intro-to-Coding/1.setup/">Getting Setup</a></li>

									<li class="nav-item "><a href="/a-Intro-to-Coding/2.%20intro-to-coding/">Intro to Coding</a></li>

									<li class="nav-item "><a href="/a-Intro-to-Coding/3.%20Pre-Coursework%20Video%20Index/">Video Outline</a></li>

							</ul>
						</li>

						<li class="nav-item top-level ">

							<a href="/b-hello-html/1.%20intro-to-html/">Hello HTML</a>
							<ul>

									<li class="nav-item "><a href="/b-hello-html/1.%20intro-to-html/">Intro to HTML</a></li>

									<li class="nav-item "><a href="/b-hello-html/2.html-links/">HTML Links</a></li>

							</ul>
						</li>

						<li class="nav-item top-level ">

							<a href="/c-intro-css/1.%20hello%20CSS/">Hello CSS</a>
							<ul>

									<li class="nav-item "><a href="/c-intro-css/1.%20hello%20CSS/">Intro to CSS</a></li>

									<li class="nav-item "><a href="/c-intro-css/2.%20Styling%20Typography/">Styling Typography</a></li>

									<li class="nav-item "><a href="/c-intro-css/3.%20Padding%20&amp;%20Margin/">Negative Space</a></li>

									<li class="nav-item "><a href="/c-intro-css/4.%20Images%20&amp;%20Backgrounds/">Images &amp; Backgrounds</a></li>

									<li class="nav-item "><a href="/c-intro-css/5.%20Borders%20&amp;%20Buttons/">Borders &amp; Buttons</a></li>

							</ul>
						</li>

						<li class="nav-item top-level ">

							<a href="/d-Let%E2%80%99s-get-Specific/1.%20Advanced%20CSS%20Selectors/">Let’s get Specific</a>
							<ul>

									<li class="nav-item "><a href="/d-Let%E2%80%99s-get-Specific/1.%20Advanced%20CSS%20Selectors/">Structural Elements &amp; Advanced CSS Selectors</a></li>

									<li class="nav-item "><a href="/d-Let%E2%80%99s-get-Specific/2.%20Troubleshooting%20Specificity/">Troubleshooting Specificity</a></li>

							</ul>
						</li>

						<li class="nav-item top-level ">

							<a href="/e-Layouts/1.%20The%20Display%20Property/">Layouts and Positioning</a>
							<ul>

									<li class="nav-item "><a href="/e-Layouts/1.%20The%20Display%20Property/">The Display Property</a></li>

									<li class="nav-item "><a href="/e-Layouts/2.%20Layouts%20with%20Gridlex/">Creating Grids with Gridlex</a></li>

									<li class="nav-item "><a href="/e-Layouts/3.%20Responsive%20Design/">Responsive Design</a></li>

							</ul>
						</li>

						<li class="nav-item top-level ">

							<a href="/f-building-your-first/1.Setting-up-your-folder-structure/">First Website Project</a>
							<ul>

									<li class="nav-item "><a href="/f-building-your-first/1.Setting-up-your-folder-structure/">Setting up your folder structure.</a></li>

									<li class="nav-item "><a href="/f-building-your-first/mini-splash-pages/">Mini Splash Pages</a></li>

									<li class="nav-item "><a href="/f-building-your-first/2.htmlset-up/">Writing out the HTML</a></li>

									<li class="nav-item "><a href="/f-building-your-first/3.css-set-up/">Setting up the CSS &amp; Universal styles</a></li>

									<li class="nav-item "><a href="/f-building-your-first/4.Module-by-Module/">Module by Module</a></li>

									<li class="nav-item "><a href="/f-building-your-first/5.Responsive-Design/">Making our project responsive</a></li>

									<li class="nav-item "><a href="/f-building-your-first/6.Optimising-Assets/">Optimising Assets</a></li>

									<li class="nav-item "><a href="/f-building-your-first/7.Hosting-&amp;-Domain-Name/">Hosting &amp; Domain Name</a></li>

							</ul>
						</li>

						<li class="nav-item top-level ">

							<a href="/g-Resources-and-Portfolio-Planning/social-sharing-meta-data/">Resources and Portfolio Planning</a>
							<ul>

									<li class="nav-item "><a href="/g-Resources-and-Portfolio-Planning/social-sharing-meta-data/">Social Sharing Meta Data</a></li>

									<li class="nav-item "><a href="/g-Resources-and-Portfolio-Planning/2.being-resourceful/">Being Resourceful</a></li>

									<li class="nav-item "><a href="/g-Resources-and-Portfolio-Planning/4.%20portfolio-planning/">Portfolio Planning</a></li>

									<li class="nav-item "><a href="/g-Resources-and-Portfolio-Planning/seo-md/">SEO (Search Engine Optimisation)</a></li>

							</ul>
						</li>

				</ul>

				<ul>
					<li class="nav-item top-level">

        				<a href="https://web-dev.instituteofcode.com/a-positioning/intro-to-positioning/"> View Coursework </a>

			    	</li>
				</ul>
			</nav>
		</header> -->
		<a id="top-button" href="#top"><i class="fas fa-chevron-up"></i></a>
		<section class="main">
			<div class="page-header">
				<h2>Intro to Coding</h2>
				<h3>Getting Setup</h3>
			</div>
			<article class="content" data-cms-content-wrapper="/_layouts/layout-test.html">
				<p>There are a few things that we use during the course that we ask you to download/set up for both the practice challenges and the course in general.</p>

<h2 id="browser-chrome">Browser: Chrome</h2>

<p>We’ll be using Chrome to preview and test our websites, as it has the best developer tools. Download the latest version of Google <a href="https://www.google.com/chrome/browser/features.html?brand=CHBD&amp;gclid=Cj0KEQjwyN7JBRCZn7LKgb3ki8kBEiQAaLEsqsFu3ctUicvTCQW604YrV3Hi7ARsHYaHcSsjf9qChdQaAvB48P8HAQ&amp;dclid=CPLY5dOerdQCFQiIaAodWWUCBQ" target="_blank" rel="noopener noreferrer">Chrome</a></p>

<h2 id="online-code-editor-codepen">Online Code Editor: CodePen</h2>

<p>Next you will need a CodePen account. CodePen is a great site for testing code when you don’t want to set up a folder and files for tiny snippets of code. Go to <a href="http://codepen.io/" target="_blank" rel="noopener noreferrer">http://codepen.io/</a> and click on the Sign Up button on the top right corner. Scroll to the Free Plan and Sign Up.</p>

<p>We’ll be using codepen regularly to learn new coding concepts or play with ideas straight from the browser.</p>

<h2 id="code-editor-atom">Code Editor: Atom</h2>

<p>Go to <a href="" class="cc-active">https://atom.io/</a> download the latest version.</p>

<p>Atom is the code editor that we are using to write code and build your website projects. You can write code in any text editor (even simple applications like text-edit) but code editors like Atom have additional functionality that makes web development easier, like code hints and color coding the syntax.
<!--Watch this video for tips on how to setup and customise Atom to suit you.&nbsp;--><!--&lt;&lt;&lt;ADD VIDEO&gt;&gt;&gt;--></p>

<h2 id="design-tool-adobe-experience-design">Design Tool: Adobe Experience Design</h2>

<p><a href="https://www.adobe.com/sea/products/experience-design.html" target="_blank" rel="noopener noreferrer">Download</a> Adobe Experience Design (it’s free!). This is a great tool to create wireframes or mockups of your portfolio website. We will be sending you the template for the first website you will be creating in Adobe Experience Design if you want to experiment with the colors and fonts.</p>

<h2 id="github">Github</h2>

<p>Github is a version control tool – it allows us to save every version of our websites, review past changes, etc.</p>

<p>Head to Github.com and create a free account and download <a href="https://desktop.github.com/" target="_blank" rel="noopener noreferrer">Github Desktop</a>.</p>

<!--
## Jekyll

**FOR MAC USERS** – [Download xCode](https://itunes.apple.com/au/app/xcode/id497799835?mt=12) We'll be using Xcode to install Jekyll (which is how we'll be building blogs and more complex websites)

**FOR WINDOWS USERS** – It's a little more complicated, so don't worry about installing anything at this step.. we'll help you when you arrive.

## General&nbsp; -->

<p><strong>FOR MAC USERS</strong> – Make sure your Mac OS is running one of the last 3 versions (OS X Sierra, Mojave or Catalina) and if it isn’t <a href="http://www.apple.com/au/macos/how-to-upgrade/" target="_blank" rel="noopener noreferrer">update it here</a>.</p>

			</article>
		</section>

		<script>
			document.getElementById("open-nav").addEventListener("click", function () {
				document.body.classList.toggle("nav-open");
			});
		</script>
		<!-- this enables codepens to be embedded -->
		<script async="" src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

</body>

    {{content}}

<footer>
    <div class="col-12 centered sub-footer dark-bg">
      <p class="small-font "> <a href="https://kingcode.uk/" target="_blank"> website by King Code </a>
       <a href="https://socialmediaretreat.org/"> © socialmediaretreat.org </a> <a href="/policy"> policies </a>
    </p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <script src="/main.js" type="text/javascript"></script>

</html>
