<!DOCTYPE html>
<html>
<head>

  <!-- Meta Data -->
    <meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.meta-description}}">
    <meta name="keywords" content="{{page.meta-keywords}}">

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!--  Social media sharing META Tags -->
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.meta-description}}">
    <meta property="og:image" content="{{page.featured-image_path}}">
    <meta property="og:url" content="{{page.url}}">
    <meta name="twitter:card" content="{{page.meta-description}}">
    <meta name="og:site_name" content="The Social Media Retreat">

  <!-- end of meta tags -->

  <!-- link to browser icon tag -->
  <link rel="shortcut icon" type="image/png" href="images/social-media-retreat.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,500,700,900&display=swap" rel="stylesheet"></link>

    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>

    <!-- Font Awesome Version 5 for Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

    <!-- Magnific Popup for lightbox galleries   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

    <!-- our own custom stylesheet -->
    <link rel="stylesheet" href="/style.css"/>

</head>
<body>
  <header>
    <div class="grid page">
      <div class="logo col-2-middle left"> <a href ="/"> <img src="/images/social-media-retreat.png" alt="social media retreat logo"></a></div>
      <div class="col-2_sm-hidden">

      </div>
      <nav class=" col-8-middle_sm-hidden right fixed">

        <a class="padded-sides" href="/clients">about</a>
        <a class="padded-sides" href="/login">course work</a>
        <a class="padded-sides" href="/contact">connect</a>
        <a class="padded-sides" href="#booking">book a spot</a>
      </nav>
    </div>

    <div class="col-2-middle padded grid centered fixed desktop-hide">
      <div>
        <p class="hamburger">⋯</p>
      </div>
    <!-- only opens with mobile-menu -->

      <div class='grid-center page-nav mobile-menu'>
        <p class="cross">╳</p>
        <a  href="/">home <br></a>
        <a  href="/services">services <br></a>
        <a  href="/clients">clients <br></a>
        <a  href="/clients#reviews">reviews <br></a>
        <a  href="/contact">contact</a><br>
        <p class="right menu-p">we code websites for her.</p>
      </div>
    </div>
  </header>

    {{content}}

<footer>
    <div class="col-12 centered sub-footer">
      <p class="small-font "> <a href="https://kingcode.uk/" target="_blank"> website by King Code </a>
       <a href="https://www.socialmediaretread.org/"> © socialmediaretreat.org </a>
    </p>
  </div>
</footer>
</body>
</html>
